@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

.content code:not(.code-block code) {
    font-family: 'Hack';
    direction: ltr;
  }
.cl {
    font-family: 'Hack';
}

html[lang="fa"] {
    font-family: 'Vazirmatn', Times, serif;
}
